.article-list {
  border: 1px solid black;
}

.Articles .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.Articles .container .title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Articles .article {
  background: white;
  border: 1px dotted black;
}